import '../../entities/FEATURE_LOWER_NAME.dart';
import '../../repositories/FEATURE_LOWER_NAME_repository.dart';

class FetchFEATURE_NAMEsUseCase {
  final FEATURE_NAMERepository repository;
  FetchFEATURE_NAMEsUseCase({required this.repository});

  Future<List<FEATURE_NAME>> call() {
    return repository.fetchFEATURE_NAMEs();
  }
}
