import '../entities/FEATURE_LOWER_NAME.dart';

abstract class FEATURE_NAMERepository {
  Future<List<FEATURE_NAME>> FetchFEATURE_NAMEs();
  Future<FEATURE_NAME> FetchFEATURE_NAME(String id);
  Future<FEATURE_NAME> addFEATURE_NAME(FEATURE_NAME FEATURE_LOWER_NAME);
  Future<FEATURE_NAME> updateFEATURE_NAME(FEATURE_NAME FEATURE_LOWER_NAME);
  Future<void> deleteFEATURE_NAME(FEATURE_NAME FEATURE_LOWER_NAME);
}
