import '../entities/FEATURE_LOWER_NAME.dart';
import '../repositories/FEATURE_LOWER_NAME_repository.dart';

class UpdateFEATURE_NAMEUseCase {
  final FEATURE_NAMERepository repository;
  UpdateFEATURE_NAMEUseCase({required this.repository});

  Future<FEATURE_NAME> call(FEATURE_NAME FEATURE_LOWER_NAME) {
    return repository.updateFEATURE_NAME(FEATURE_LOWER_NAME);
  }
}
