import 'package:flutter/material.dart';

class CreateFEATURE_NAMEScreen extends StatelessWidget {
  const CreateFEATURE_NAMEScreen({super.key});

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: Text('CreateFEATURE_NAME'),
      ),
      body: Center(
        child: Text('CreateFEATURE_NAME'),
      ),
    );
  }
}
