
import 'package:flutter/material.dart';

class EditFEATURE_NAMEScreen extends StatelessWidget {
  final String FEATURE_LOWER_NAMEId;
  const EditFEATURE_NAMEScreen({super.key,required this.FEATURE_LOWER_NAMEId});

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: const Text('Edit FEATURE_NAME'),
      ),
      body: const Center(
        child: Text('Edit FEATURE_NAME'),
      ),
    );
  }
}
