import 'package:flutter/material.dart';

class FEATURE_NAMEsScreen extends StatelessWidget {
  const FEATURE_NAMEsScreen({super.key});

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: Text('FEATURE_NAMEs'),
      ),
      body: Center(
        child: Text('FEATURE_NAMEs'),
      ),
    );
  }
}
